.orange{color:orange}
.profile{
    position:relative;
    width:300px; text-align:center;margin:0 auto 1rem auto;padding:1rem;background-color:#ebebeb;
    box-shadow: -3px 9px 43px -15px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 9px 43px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 9px 43px -15px rgba(0,0,0,0.75);
}
img{width:200px;height:200px; border-radius: 100%;}
.new{position:absolute; top:1rem;left:50%; 
    transform: translate(50px,20px);
    background-color:aqua;border-radius: 20%;padding:0 10px;font-weight: bold;}
